  <div class="rounded-lg overflow-hidden shadow chatroom-layout">
    <!-- Users box-->
    <div class="col-5 px-0" id="chatroom-wrapper">
      <h4>Chatrooms</h4>
      <div class="bg-white">

        <div class="chatrooms">
          <% current_user.chatrooms.each do |chatroom| %>
            <% print_active_class = chatroom == @chatroom ? "active" : "" %>
                <div class="list-group rounded-0 <%= print_active_class%>">
                    <a href="<%= chatroom_path(chatroom.id) %>" class="list-group-item list-group-item-action list-group-item rounded-0" id="chatroom-background">
                        <div class="media">
                            <div class="media-body">
                            <div class="d-flex align-items-center justify-content-between mb-1">
                                <h6 class="mb-0" id="chatroom-header"><%= chatroom.name %></h6>
                            </div>
                            </div>
                        </div>
                    </a>
                </div>
          <% end %>

        </div>
      </div>
    </div>
    <!-- Chat Box-->
    <div class="col-7 px-0" id="chat-wrapper">
      <div class="px-4 py-5 chat-box">

        <!-- Messages-->
        <div id="messages" data-chatroom-id="<%= @chatroom.id %>">
            <% @chatroom.messages.each do |message| %>
              <%= render 'messages/message', message: message%>
            <% end %>
        </div>

      <!-- Typing area -->

        <div class="input-group">
          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, class: "form-control rounded-0 border-0 py-4 bg-light", id: "chat-input", placeholder: "Type a message" %>
          <% end %>
        </div>

    </div>
  </div>
</div>
