<%= simple_form_for [ @chatroom, @message ] do |f| %>
  <%= f.input :content, label: false, placeholder: "Message ##{@chatroom.name}" %>
<% end %>

<h1>#<%= @chatroom.name %></h1>
<div id="messages" data-chatroom-id="<%= @chatroom.id %>">
  <% @chatroom.messages.each do |message| %>
    <%= render 'messages/message', message: message%>
  <% end %>
</div>

<%# <div class="delete button">
    <%= link_to 'Clear Messages', chatroom_path(@chatroom.id), class: "btn btn-info", method: :delete, data: { confirm: "Are you sure you want to remove your bookmark?"} %>
<%# </div> %>
