<div class="banner" style=">
  <div class="container">
    <h1>ToGather.</h1>
    <p>No idea what to do? No worries, we got you!</p>
  </div>
</div>

<!-- <div>
  <h2> Pick a mood</h2>
<% @categories.each do |category| %>
<%= link_to category.name, new_category_activity_path(category), class: "btn btn-primary" %>
<% end %>
</div> -->

<div class="container">
  <h1>Choose your preferences</h1>

<%= simple_form_for @activity, method: :get do |f| %>
    <%= f.association :category, label_method: :name %>
    <%= f.input :start_time %>
    <%= f.input :address %>
      <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>


</div>





