<div class="container">
  <h1>My Dashboard</h1>
  <br>
  <h3>Activities you saved</h3>

<ul>
    <% @bookmarks.each do |bookmark| %>
      <% if bookmark.user == current_user %>
        <br>
        <br>
        <h5><strong><%= bookmark.activity.name %></strong></h5>
        <div>
          <%= link_to 'Remove', bookmark_path(bookmark.id), method: :delete, data: { confirm: "Are you sure you want to remove your bookmark?"} %>

        </div>
      <% end %>
    <% end %>
  </ul>

 <% if @activities.exists? %>
  <br>
    <h3>Activities you created</h3>
    <% end %>

    <% @activities.each do |activity| %>
      <%= link_to category_activity_path(activity.category, activity) do %>
        <% if activity.user == current_user %>
          <br>
          <br>
          <h5><strong><%= activity.name %></strong></h5>
          <div>
            <%= link_to 'Edit', edit_activity_path(activity), class: "btn btn-warning" %>
            <%= link_to 'Delete', activity_path(activity.id), method: :delete, data: { confirm: "Are you sure you want to delete your activity?"}, class: "btn btn-danger" %>
          </div>
        <% end %>
      <% end %>
    <% end %>

