<div class="container">
  <h1>Choose your preferences</h1>

  <%= simple_form_for @activity, method: :get do |f| %>
    <%= f.association :category, label_method: :name %>
    <%= f.date_field :start_time %>
    <%= f.submit "Search", class: "btn btn-primary" %>
  <% end %>
</div>

<div class="container">
  <div class="card-columns">
    <% @activities.each do |activity| %>
      <div class="card" >
        <div class="bookmark-buttons">
          <%= link_to 'Save', bookmark_path(activity_id: activity.id), method: :post, class: "btn btn-outline-success" %>
        </div>
        <%= link_to category_activity_path(:category_id, activity) do %>
            <% if activity.cover_photo.attached? %>
              <%= cl_image_tag(activity.cover_photo.key,
                class: "card-images", height: 300, fit: :clip) %>
            <% end %>
          <div id="card_details">
            <h5><%= activity.name %></h5>
            <p class="mb-3"><%= activity.description %></p>
            <!-- <p><strong><%= activity.start_time %></strong></p> -->
            <% if @start_time == activity.start_time %>
              <button class="btn btn-outline-warning">Today</button>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

