<div class="container">
  <h1><%= @activity.name %></h1>
    <div class="map-container">
        <div id="map"
        style="width: 500px; height: 315px; border-radius: 5px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
        </div>
        <div class="map-info">
            <%= @activity.name %>
            <%= @activity.address %>
            <a href="https://maps.google.com/maps?ll=<%= @activity.latitude%>,<%= @activity.longitude%>&z=15&t=m&hl=en&gl=AU&mapclient=embed&daddr=<%= @activity.address%>@<%= @activity.latitude%>,<%= @activity.longitude%>">Directions</a>
        </div>
    </div>
</div>


<%# <% map_driven = "https://www.google.com/maps/dir/#{@activity.latitude},#{@activity.longitude}/-37,140/@#{@activity.latitude},#{@activity.longitude},7z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" %>