<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag %>
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <meta property="og:image" content="<%=image_url('3.png')%>">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>ToGather</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag 'application' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
      <link rel="stylesheet" href="assets/css/style.css">
  </head>
  <body class="<%= params[:controller]%>">

    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>

    <% if params[:action] == "show" && params[:controller] == "activities" %>
      <%= render 'pages/activities_show' %>
    <% end %>

    <%= yield %>
    <%# GSAP script below %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.6.0/gsap.min.js" integrity="sha512-1dalHDkG9EtcOmCnoCjiwQ/HEB5SDNqw8d4G2MKoNwjiwMNeBAkudsBCmSlMnXdsH8Bm0mOd3tl/6nL5y0bMaQ==" crossorigin="anonymous"></script>

    <%# GSAP Timeline script below %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/timelinejs/3.6.6/js/timeline-min.js" integrity="sha512-znL7NlNFFvWYptamSie8oZKRUwq+60RJtn8lkeTCFA6wpBr6ViJwabt1f15JcpiNaxhy8tixwCRFVR7kTyfJXA==" crossorigin="anonymous"></script>

    <%# Script is for activity-showpage javascript %>
    <script src="init_showpage.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
  </body>
    <%= render 'shared/footer' %>
</html>
